[user]
	name = jack
	email = 0x6A73@pm.me
	signkey = 9D0826FE644C4EAB
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[core]
  editor = nvim
  pager = less -F -X
[advice]
  skippedCherryPicks = false
	forceDeleteBranch = false
