.cache
.cargo
.gdb_history
.gnupg
.lesshst
.local/bin
.local/lib
.local/state
.local/share/applications
.local/share/mime
.local/share/nvim
.local/share/recently-used.xbel
.local/share/xorg
.local/share/xyzservices
.local/share/yadm
.local/share/zathura
.local/share/zoxide
.mozilla
.npm
.serverauth*
.ssh
.wget-hsts
.Xauthority
.zcompdump
.zsh
.zsh_history
Documents
Downloads
Pictures
git
