.cache
.cargo
.cmake
.dbus
.gnupg
.local/bin
.local/lib
.local/state
.local/share/man
.local/share/nvim
.local/share/recently-used.xbel
.local/share/yadm
.local/share/zathura
.local/share/zoxide
.mozilla
.npm*
.pki
.ssh
.wget-hsts
.wpa_cli_history
.zcompdump
.zsh_history
Documents
Downloads
Pictures
waffle_git
