.cache
.CFUserTextEncoding
.config/nvim/lazy-lock.json
.config/yadm
.DS_Store
.gnupg
.lldb
.local
.ssh/id*
.ssh/known_hosts*
.terminfo
.Trash
.zcompdump
.zsh_history
.zsh_sessions
Desktop
Documents
Downloads
git
Library
Movies
Music
Pictures
Public
