.bsp
.cache
.cargo
.cmake
.deno
.dbus
.gentoo
.gnupg
.g8
.ipython
.ivy2
.jupyter
.local
.mozilla
.thunderbird
.npm*
.pki
.sbt
.scala*
.ssh
.wget-hsts
.wpa_cli_history
.zcompdump
.zsh_history
Documents
Downloads
Pictures
git
