@import url("../colours.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: @base01;
}

#temperature,
#wireplumber,
#network,
#workspaces,
#custom-media,
#custom-date,
#clock {
  color: @base0D;
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
}

tooltip {
  background-color: @base01;
  border: 3px solid @base0B;
  border-radius: 0px;
}

tooltip * {
  color: @base0B;
  text-shadow: none;
}

#temperature {
  margin-left: 10px;
  border-top: 3px solid @red;
}

#wireplumber {
  border-top: 3px solid @orange;
}

#network {
  border-top: 3px solid @yellow;
}

#workspaces {
  border-top: 3px solid @green;
}

#workspaces button {
  color: @base0B;
  padding: 6px;
  border-radius: 0px;
}

#workspaces button.active {
  color: @base0B;
}

#workspaces button.urgent {
  color: @red;
}

#custom-media {
  border-top: 3px solid @blue;
}

#custom-date {
  border-top: 3px solid @aqua;
}

#clock {
  margin-right: 10px;
  border-top: 3px solid @purple;
}
