@import url("../colours.css");
window {
  background-image: url("/home/jack/.img/wallpaper/ferris_blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @base03;
  color: #0c586b;
  font-family: "JetBrains Mono";
  font-size: 12px;
}
