@import url("../colours.css");
window {
  background-image: url("/home/jack/.img/wallpaper/buildings_blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Mononoki Nerd Font";
  color: @flamingo;
}
